@font-face {
	font-family: 'Roboto Slab';
	src: url(../fonts/Roboto_Slab/RobotoSlab-Regular.ttf);
}
@font-face {
	font-family: 'Lato';
	src: url(../fonts/Lato/Lato-Regular.ttf);
}
body {
	font-family: 'Roboto Slab', serif;
	margin: 0;
}

/* start of font size */
:root {
	font-size: 14px;
}
@media screen and (min-width: 568px) {
	:root {
		font-size: 16px;
	}
}
@media screen and (min-width: 1024px) {
	:root {
		font-size: 18px;
	}
}
@media screen and (min-width: 1400px) {
	:root {
		font-size: 20px;
	}
}
@media screen and (min-width: 1600px) {
	:root {
		font-size: 24px;
	}
}
@media screen and (min-width: 1900px) {
	:root {
		font-size: 28px;
	}
}
@media screen and (min-width: 2560px) {
	:root {
		font-size: 36px;
	}
}
/* end of font size */

/* start of generic elements */
h1, h2, h3, h4, h5, h6 {
	font-family: 'Lato', sans-serif;
	font-weight: 900;
	margin: 0;
	padding: 0;
}
h1 {
	padding: 0.5rem;
	font-size: 1.5rem;
	color: #253031;
}
h2 {
	font-size: 1.1rem;
}
p {
	margin: 0;
	padding: 0;
}
a {
	color: #1B3B6F;
}
a:visited {
	color: #1B3B6F;
}

/* end of generic elements */

.wrapper {
	max-width: 1440px;
}

/* nav start */
.nav {
	font-family: 'Lato', sans-serif;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	position: absolute;
	left: 0;
	right: 0;
}
#menu-btn {
  background: none;
  outline: none;
  border: none;
  padding: 1rem;
}
#menu-btn > div {
  width: 3rem;
  height: 0.2rem;
  background-color: black;
  margin: 0.5rem 0;
}
.menu {
	display: none;
	position: relative;
	top: -100vh;
	opacity: 0;
	transition: all 1s ease-in-out;
}
.show-menu {
	display: flex;
	flex-direction: column;
	top: 0;
	opacity: 1;
}
/* nav end */

.logo {
	display: block;
	background-image: url("./../img/K-400.png");
	background-size: cover;
	background-position: center;
	content: "";
	width: 4rem;
	height: 4rem;
	position: absolute;
	top: 4rem;
	left: 0;
	right: 0;
	margin: auto;
}
@media screen and (orientation: landscape) {
	.logo {
		display: none;
	}
}

/* splash start */
.splash:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: -1;
	background-color: #253031;
	/*background: radial-gradient(#87BCDE 60%, #253031);*/
	background: linear-gradient(180deg, #08737d, #87BCDE 20%, #87BCDE 80%, #253031);
}
/*.splash:after {
	content: "Available for hire";
	position: absolute;
	top: 1.6vh;
	right: 0.6rem;
	background-color: #8c1010;
	color: #253031;
	font-size: 1.5rem;
	width: 15rem;
	text-align: center;
}*/
.splash {
	margin: 1.5vh 0.5rem;
	display: flex;
	flex-direction: column;
	font-family: 'Lato', sans-serif;
	background-color: #253031;
	background: linear-gradient(180deg, #253031 50%, rgba(0,0,0,0) 0%);
	color: #87BCDE;
	min-height: 97vh;
	justify-content: center;
	align-items: center;
}
.splash > div {
	display: flex;
	align-items: center;
}
.splash > div:nth-child(1) {
	font-size: 3rem;
	margin: 0.5rem auto;
	position: relative;
	left: -8rem;
}
.splash > div:nth-child(2) {
	font-size: 4rem;
	margin: 0.4rem auto;
}
.splash > div:nth-child(3) {
	font-size: 1.5rem;
	margin: 1.7rem auto;
	color: #253031;
}
.splash > * > div {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-transform: uppercase;
}
.swm > div:nth-child(1) {
	font-size: 0.8rem;
	margin: 0px;
	padding: 0px;
	opacity: 0.6;
}
.swm > div:nth-child(2) {
	font-size: 3rem;
	margin: 0px 0.3rem;
	padding: 0px;
	line-height: 2.2rem;
}
.swm > div:nth-child(3) {
	font-size: 0.5rem;
	margin: 2px;
	padding: 0px;
	opacity: 0.3;
	text-decoration: line-through;
}

@media screen and (min-width: 768px) {
	.splash > div:nth-child(1) {
		font-size: 6rem;
		margin: 0.2rem auto;
		left: -16rem;
	}
	.splash > div:nth-child(2) {
		font-size: 7rem;
		margin: 0.2rem auto 1.8rem auto;
	}
	.splash > div:nth-child(3) {
		font-size: 3rem;
		margin: 2rem auto;
	}
	.swm > div:nth-child(1) {
		font-size: 1rem;
	}
	.swm > div:nth-child(2) {
		font-size: 6rem;
		margin: 0px 0.6rem;
		line-height: 4.4rem;
	}
	.swm > div:nth-child(3) {
		font-size: 0.8rem;
	}
}
@media screen and (orientation: portrait) {
	.splash {
		background: linear-gradient(180deg, #253031 50%, rgba(0,0,0,0) 0%);
	}
}
/* splash end */

/* projects start */
.projects {
	background-color: #87BCDE;
		background: linear-gradient(180deg, #253031 90%, #F7F7FF);
}
.projects h1 {
	padding: 1rem;
}
.project-list {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	padding: 0;
}
.project-list > div {
	width: 90vw;
	height: 50.63vw;
	margin: 0.5rem;
	/*border-radius: 10px;*/
	background-size: cover;
	background-position: top;
	overflow: hidden;
	box-shadow: 0px 1px 3px rgba(0,0,0,0.8);
}
.project-list > div > div {
	display: flex;
	height: 0;
	padding: 0 5%;
	overflow: hidden;
	flex-direction: column;
	justify-content: center;
	opacity: 0;
	background-color: rgba(135,188,222,0.95);
	transition: all 0.5s ease-in-out;
}
.project-list > div:hover div {
	height: 85%;
	padding: 5%;
	opacity: 1;
}
.project-list > div h2 {
	color: #253031;
}
.project-list > div p {
	color: #F7F7FF;
}
.project-list > div > div > a {
	color: #1B3B6F;
	margin: 0.5rem auto 0 0;
	padding: 0.5rem 1rem;
	background-color: #87BCDE;
	text-decoration: none;
	box-shadow: 0px 2px 5px rgba(0,0,0,0.4);
	transition: all 0.25s ease-in-out;
}
.project-list > div > div > a:hover {
	box-shadow: 0px -2px 5px rgba(0,0,0,0.2);
}
/*.project-list > div:nth-child(even) {
	flex-direction: row-reverse;
	text-align: right;
}*/
@media screen and (min-width: 569px) {
	.projects {
		background: linear-gradient(180deg, #253031 90%, #F7F7FF);
	}
	.project-list > div {
		width: 46vw;
		height: 25.88vw;
		margin: 6px;
	}
}
@media screen and (min-width: 1024px) {
	.project-list > div {
		width: 31vw;
		height: 17.44vw;
		margin: 6px;
	}
}
/* projects end */

/* about start */
.about {
	/*background-image: url("./img/about-bg.png");
	background-size: cover;
	background-position: center;
	color: white;*/
	padding: 0 0.5rem;
}
.about > div {
	padding: 0.5rem;
	text-indent: 1rem;
}
.about > div > *:not(:last-child) {
	margin: 0px auto 1rem auto;
}
.about > div > h2 {
	text-align: center;
	animation: 18s emp infinite;
}
@keyframes emp {
	0% {
		transform: scale(1,1);
	}
	2% {
		transform: scale(0.98,0.98);
	}
	10% {
		transform: scale(1.05,1.05);
	}
	11% {
		transform: scale(1,1);
	}
	100% {
		transform: scale(1,1);
	}
}
/* about end */

/* skills start */
.skills {
	padding: 0 0.5rem;
}
.skillset {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 0 1rem;
}
.skillset > h2 {
	margin-top: 0.5rem;
}
.skillset > ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	padding: 0;
	margin: 0;
	list-style: none;
}
.skillset > ul > li {
	min-width: 7rem;
	padding: 0 0.6rem;
	transition: all 0.5s;
}
.skillset > ul > li:hover {
	background-color: #87BCDE;
}
.legend {
	font-size: 0.8rem;
	margin-right: 2rem;
	text-align: right;
}
.note {
	font-size: 0.8rem;
	text-align: center;
}
.stack::first-letter {
	font-weight: 600;
	color: #133d73;
}
.stack {
	color: #3d4a7b;
}
/* skills end */

/* join start */
.join {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 2rem 1.6rem;
	background-color: #F7F7FF;
	color: #596880;
	line-height: 2rem;
}
.join h2 {
	color: #133d73;
}
.join h1 {
	color: #001064;
}
.join > * {
	max-width: 60rem;
}
@media screen and (min-width: 769px) {
	.join > * > div {
		padding: 0 2rem;
	}
}
/*@media screen and (min-width: 1024px) {
	.join {
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		    -ms-flex-direction: row;
		        flex-direction: row;
	}
	.skills {
		border-left: 1px solid #133d73;
		padding: 0 2rem;
	}
	.about {
		padding: 0 1.5rem;
	}
}*/
/* join end */

/* contacts start */
.contacts {
	padding: 2rem 0.5rem 0.1rem 0.5rem;
	text-align: center;
	background-color: #253031;
	color: #87BCDE;
}
.contacts > p {
	margin: 0 1rem 1rem 1rem;
}
.contacts > div {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin-top: 0.5rem;
}
.contacts > div > * {
	min-width: 7rem;
}
.contacts a {
	padding: 0.5rem;
	margin: 0.2rem;
	border: 1px solid #87BCDE;
	border-radius: 5px;
	color: #87BCDE;
	text-decoration: none;
	box-shadow: 0px 2px 2px rgba(0,0,0,0.8);
	transition: all 0.25s ease-in-out;
}
.contacts a:visited {
	color: #87BCDE;
}
.contacts a:hover {
	transform: scale(1.05, 1.05);
	background-color: #87BCDE;
	color: #253031;
}
.contacts a.wiggle {
	display: inline-block;
	animation: 6s linear wiggle infinite;
}
@keyframes wiggle {
	0% {
		transform: rotate(0deg);
	}
	3% {
		transform: rotate(-2deg);
	}
	6% {
		transform: rotate(2deg);
	}
	9% {
		transform: rotate(-1deg);
	}
	12% {
		transform: rotate(1deg);
	}
	15% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(0deg);
	}
}
footer {
	display: block;
	margin: 0.8rem auto;
	font-size: 0.8rem;
	color: rgba(155,155,155,1);
}
/* contacts end */