@font-face {
	font-family: 'Roboto Slab';
	src: url(../fonts/Roboto_Slab/RobotoSlab-Regular.ttf);
}
@font-face {
	font-family: 'Lato';
	src: url(../fonts/Lato/Lato-Regular.ttf);
}
body {
	font-family: 'Roboto Slab', serif;
	margin: 0;
	background-color: #F7F7FF;
	overflow-x: hidden;
}

/* start of font size */
:root {
	font-size: 16px;
}
@media screen and (min-width: 568px) {
	:root {
		font-size: 16px;
	}
}
@media screen and (min-width: 1024px) {
	:root {
		font-size: 18px;
	}
}
@media screen and (min-width: 1400px) {
	:root {
		font-size: 20px;
	}
}
@media screen and (min-width: 1600px) {
	:root {
		font-size: 24px;
	}
}
@media screen and (min-width: 1900px) {
	:root {
		font-size: 28px;
	}
}
@media screen and (min-width: 2560px) {
	:root {
		font-size: 36px;
	}
}
/* end of font size */

/* start of generic elements */
h1, h2, h3, h4, h5, h6 {
	font-family: 'Lato', sans-serif;
	font-weight: 900;
	margin: 0;
	padding: 0;
}
h1 {
	padding: 0.5rem;
	font-size: 1.5rem;
	color: #253031;
}
h2 {
	font-size: 1.1rem;
}
p {
	margin: 0;
	padding: 0;
}
a {
	color: #1B3B6F;
}
a:visited {
	color: #1B3B6F;
}

/* end of generic elements */

.wrapper {
	max-width: 1440px;
}

/* nav start */
.nav {
	font-family: 'Lato', sans-serif;
	display: -webkit-box;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	        flex-direction: column;
	-webkit-box-align: end;
	        align-items: flex-end;
	position: absolute;
	left: 0;
	right: 0;
}
#menu-btn {
  background: none;
  outline: none;
  border: none;
  padding: 1rem;
}
#menu-btn > div {
  width: 3rem;
  height: 0.2rem;
  background-color: black;
  margin: 0.5rem 0;
}
.menu {
	display: none;
	position: relative;
	top: -100vh;
	opacity: 0;
	transition: all 1s ease-in-out;
}
.show-menu {
	display: -webkit-box;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	        flex-direction: column;
	top: 0;
	opacity: 1;
}
/* nav end */

.logo {
	display: block;
	background-image: url("./../img/K-400.png");
	background-size: cover;
	background-position: center;
	content: "";
	width: 4rem;
	height: 4rem;
	position: absolute;
	top: 4rem;
	left: 0;
	right: 0;
	margin: auto;
}
@media screen and (orientation: landscape) {
	.logo {
		display: none;
	}
}

/* splash start */
.splash:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 100vh;
	z-index: -1;
	background-color: #253031;
	background: linear-gradient(180deg, #003a40, #87BCDE 20%, #87BCDE 80%, #253031);
}
.splash {
	margin: 1.5vh 0.4vh;
	display: -webkit-box;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	        flex-direction: column;
	font-family: 'Lato', sans-serif;
	background-color: #253031;
	background: linear-gradient(180deg, #253031 50%, rgba(0,0,0,0) 0%);
	color: #87BCDE;
	min-height: 97vh;
	-webkit-box-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	        align-items: center;
}
@media screen and (min-width: 360px) {
	.splash {
		margin: 1.5vh 1vh;
	}
}
.splash > div {
	display: -webkit-box;
	display: flex;
	-webkit-box-align: center;
	        align-items: center;
}
.splash > div:nth-child(1) {
	font-size: 2.6rem;
	margin: 0.5rem auto;
	position: relative;
	left: -8rem;
}
.splash > div:nth-child(2) {
	font-size: 3.6rem;
	margin: 0.6rem auto 0 auto;
}
.splash > div:nth-child(3) {
	font-size: 1.5rem;
	margin: 1.7rem auto;
	color: #253031;
}
.splash > * > div {
	display: -webkit-box;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	        flex-direction: column;
	-webkit-box-align: center;
	        align-items: center;
	text-transform: uppercase;
}
.swm > div:nth-child(1) {
	font-size: 0.8rem;
	margin: 0px;
	padding: 0px;
	opacity: 0.6;
}
.swm > div:nth-child(2) {
	font-size: 3rem;
	margin: 0px 0.3rem;
	padding: 0px;
	line-height: 2.2rem;
}
.swm > div:nth-child(3) {
	font-size: 0.5rem;
	margin: 2px;
	padding: 0px;
	opacity: 0.3;
	text-decoration: line-through;
}

@media screen and (min-width: 768px) {
	.splash > div:nth-child(1) {
		font-size: 6rem;
		margin: 0.2rem auto;
		left: -16rem;
	}
	.splash > div:nth-child(2) {
		font-size: 7rem;
		margin: 0.2rem auto 1.8rem auto;
	}
	.splash > div:nth-child(3) {
		font-size: 3rem;
		margin: 2rem auto;
	}
	.swm > div:nth-child(1) {
		font-size: 1rem;
	}
	.swm > div:nth-child(2) {
		font-size: 6rem;
		margin: 0px 0.6rem;
		line-height: 4.4rem;
	}
	.swm > div:nth-child(3) {
		font-size: 0.8rem;
	}
}
@media screen and (orientation: portrait) {
	.splash:before {
		background: linear-gradient(180deg, #003a40, #87BCDE 20%, #87BCDE 60%, #253031);
	}
}
/* splash end */

/* projects start */
.projects {
	background-color: #253031;
	margin-top: -1px;
	padding: 2rem 0;
}
.projects h1 {
	padding: 1rem;
}
.project-list {
	display: -webkit-box;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	        flex-direction: row;
	flex-wrap: wrap;
	-webkit-box-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	        align-items: center;
	padding: 0;
}
.project-list > div {
	width: 90vw;
	height: 50.63vw;
	margin: 0.5rem;
	background-size: cover;
	background-position: top;
	overflow: hidden;
	box-shadow: 0px 1px 3px rgba(0,0,0,0.8);
}
.project-list > div > div {
	display: -webkit-box;
	display: flex;
	height: 0;
	padding: 0 5%;
	overflow: hidden;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	        flex-direction: column;
	-webkit-box-pack: center;
	        justify-content: center;
	opacity: 0;
	background-color: rgba(135,188,222,0.95);
	background: linear-gradient(180deg, rgba(135,188,222,0.9), rgb(0, 86, 111));
	transition: all 0.5s ease-in-out;
}
.project-list > div:hover > div {
	height: 100%;
	opacity: 1;
}
.project-list > div h2 {
	color: #253031;
}
.project-list > div {
	font-size: 0.8rem;
	color: #E3E5FB;
}
.project-list > div > div a {
	display: inline-block;
	position: relative;
	color: #1B3B6F;
	margin: 0.5rem 0.3rem;
	padding: 0.5rem 1rem;
	background-color: #87BCDE;
	text-decoration: none;
	box-shadow: 0px 2px 5px rgba(0,0,0,0.4);
	transition: all 0.25s ease-in-out;
}
.project-list > div > div a:before {
	position: absolute;
	content: "555";
	margin: -0.5rem 0 0 -1.5rem;
	border-left: 0.3rem solid #111;
	height: 100%;
	opacity: 0;
	transition: all 0.5s ease-in-out;
	color: rgba(0,0,0,0);
}
.project-list > div > div a:hover:before {
	margin: -0.5rem 0 0 -1rem;
	opacity: 1;
}
.msg-1024 {
	display: none;
	padding: 0;
}
.msg-1024 > h3 {
	color: #333;
}
.msg-1024 > ul {
	padding-left: 1.5rem;
	margin: 0;
}
@media screen and (min-width: 569px) {
	.project-list > div {
		width: 46vw;
		height: 25.88vw;
		margin: 6px;
	}
}
@media screen and (min-width: 1024px) {
	.project-list {
		width: 100vw;
		height: 30rem;
		display: grid;
		grid: 1fr 1fr 1fr / 1fr 1fr 1fr;
		grid-gap: 0.5rem;
		-webkit-box-pack: stretch;
		        justify-content: stretch;
		-webkit-box-align: stretch;
		        align-items: stretch;
		padding: 1rem;
	}
	.project-list > div {
		width: auto;
		height: auto;
	}
	.project-list > div:nth-child(1) {
	  grid-area: 1 / 1 / 3 / 3;
	}
	.project-list > div:nth-child(2) {
	  grid-area: 1 / 3;
	}
	.project-list > div:nth-child(3) {
	  grid-area: 2 / 3;
	}
	.project-list > div:nth-child(4) {
	  grid-area: 3 / 1;
	}
	.project-list > div:nth-child(5) {
	  grid-area: 3 / 2;
	}
	.project-list > div:nth-child(6) {
	  grid-area: 3 / 3;
	}
	.msg-1024 {
		display: block;
	}
	.msg-0 {
		display: none;
	}
}
@media screen and (min-width: 1280px) {
	.project-list {
		height: 40rem;
	}
	.project-list > div h2 {
		font-size: 1.5rem;
	}
	.project-list > div {
		font-size: 1rem;
	}
	.msg-1024 > h3 {
		font-size: 1.1rem;
	}
}
/* projects end */

/* CARDS start */
.cards-section {
	display: -webkit-box;
	display: flex;
	flex-wrap: wrap;
	-webkit-box-pack: stretch;
	        justify-content: stretch;
	-webkit-box-align: stretch;
	        align-items: stretch;
}
.cards {
	width: 100%;
	min-height: 20rem;
}
@media screen and (min-width: 768px) {
	.cards {
		width: 50%;
		max-width: 50%;
	}
}
/* mern start */
.mern {
	display: -webkit-box;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	        flex-direction: column;
	-webkit-box-pack: stretch;
	        justify-content: stretch;
	-webkit-box-align: stretch;
	        align-items: stretch;
	text-align: center;
	background-color: #1C1E26;
}
.mern > div {
	display: -webkit-box;
	display: flex;
	justify-content: space-around;
	-webkit-box-flex: 1;
	        flex: 1 0 auto;
}
.mern span {
	display: -webkit-box;
	display: flex;
	-webkit-box-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	        align-items: center;
	width: 25%;
	transition: all 0.5s ease-in-out;
}
.mern img {
	max-width: 5rem;
	max-height: 3rem;
	transition: all 0.35s ease-in-out;
}
@media screen and (min-width: 468px) {
	.mern img {
		max-width: 7rem;
		max-height: 4rem;
	}
}
@media screen and (min-width: 768px) {
	.mern img {
		max-width: 6rem;
		max-height: 4rem;
	}
}
.mern span:before {
	opacity: 0;
	-webkit-box-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	        align-items: center;
	font-size: 0px;
	position: absolute;
	margin: auto;
	z-index: 1;
	transition: all 0.5s ease-in-out;
}
.mern span:after {
	opacity: 0;
	-webkit-box-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	        align-items: center;
	font-size: 0px;
	position: absolute;
	margin: auto;
	z-index: 1;
	transition: all 0.5s ease-in-out;
}
.mern div:hover span {
	width: 15%;
}
.mern div:hover img {
	max-width: 0;
	opacity: 0;
}
.mern div:hover span:hover {
	width: 55%;
	opacity: 1;
}
.mern div:hover span:hover:before, .mern div:hover span:hover:after {
	display: -webkit-box;
	display: flex;
	font-size: 2rem;
	opacity: 1;
}
.mern h1 {
	padding: 0;
	min-height: 30%;
	text-transform: uppercase;
	font-size: 2rem;
	color: #D1A701;
	display: -webkit-box;
	display: flex;
	-webkit-box-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	        align-items: center;
	letter-spacing: 2rem;
}
.mongo-l {
	background-color: #469d45;
}
.mongo-l:after {
	overflow: hidden;
	content: attr(data-text);
	color: #484749;
}
.express-l {
	background-color: #ffffff;
}
.express-l:after {
	overflow: hidden;
	content: attr(data-text);
	color: #3e4b57;
}
.react-l {
	background-color: #2a2c2e;
}
.react-l:before {
	overflow: hidden;
	content: attr(data-text);
	color: #61dafb;
}
.node-l {
	background-color: #3e863d;
}
.node-l:before {
	overflow: hidden;
	content: attr(data-text);
	color: #333333;
}
/* mern end */
/* tools start */
.tools {
	display: -webkit-box;
	display: flex;
	flex-wrap: wrap;
	-webkit-box-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	        align-items: center;
  padding: 1rem 0;
}
.tools span {
	display: -webkit-box;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	        flex-direction: column;
	-webkit-box-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	        align-items: center;
}
.tools > span img {
	max-height: 2.5rem;
	margin: 1rem;
	-webkit-filter: grayscale(80%);
	        filter: grayscale(80%);
	transition: all 1s ease-in-out;
}
.tools span:after {
	content: attr(data-text);
	opacity: 0;
	position: absolute;
	margin-top: -1rem;
	padding: 0.5rem;
	background-color: rgba(88,88,88,0.95);
	color: #fff;
	transition: all 0.35s ease-in-out;
}
.tools > span:hover:after {
	margin-top: 2rem;
	opacity: 1;
}
.tools > span:hover img {
	-webkit-filter: grayscale(0%);
	        filter: grayscale(0%);
}
@media screen and (min-width: 400px) {
	.tools > span:hover:after {
		margin-top: 2.5rem;
	}
}
@media screen and (min-width: 768px) {
	.tools > span img {
		max-height: 3.5rem;
	}
}
@media screen and (min-width: 1280px) {
	.tools > span img {
		max-height: 4rem;
	}
}
/* tools end */
/* spa start */
.single-page {
	display: -webkit-box;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	        flex-direction: column;
	-webkit-box-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	        align-items: center;
	background-color: #253031;
}
.single-page > img {
	margin-top: 1rem;
	max-height: 10rem;
	max-width: 100%;
}
.single-page > h1 {
	margin-bottom: 1rem;
}
.single-page > h1 > span {
	margin: 0 0.2rem;
}
.single-page > h1 > span:nth-child(1) {
	color: #2FB90A;
}
.single-page > h1 > span:nth-child(2) {
	color: #58BDD3;
}
.single-page > h1 > span:nth-child(3) {
	color: #C4110D;
}
/* spa end */
/* responsive start */
.responsive-web {
	display: -webkit-box;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	        flex-direction: column;
	-webkit-box-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	        align-items: center;
	background-color: #87BCDE;
}
.responsive-web h1 {
	color: #444;
	font-size: 3.5rem;
}
.inner-res {
	display: -webkit-box;
	display: flex;
	margin-bottom: 1rem;
}
.inner-res > img {
	max-height: 7rem;
}
.inner-res > div {
	text-align: right;
}
.inner-res > div h1 {
	font-size: 2.5rem;
}
/* responsive end */
/* certifications start */
.certificate {
	display: -webkit-box;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	        flex-direction: column;
	-webkit-box-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	        align-items: center;
  padding: 1rem 0;
}
.certificate img {
	margin: 0.5rem auto;
	max-height: 16rem;
	max-width: 100%;
}
.certificate a {
	display: inline-block;
	margin: 0.5rem 1rem 1rem 1rem;
	outline: none;
	text-decoration: none;
	padding: 0.2rem 1rem;
	transition: all 0.5s ease-in-out;
}
.certificate a:nth-child(1) {
	background-color: #FEC901;
	color: #39393B;
}
.certificate a:nth-child(2) {
	background-color: #006837;
	color: #FEF7DA;
}
.certificate a:before {
	position: absolute;
	content: "123456789";
	border-left: 0.3rem solid #111;
	margin: -0.2rem -1.2rem;
	padding: 0.2rem 1rem;
	opacity: 0;
	transition: all 0.5s ease-in-out;
	color: rgba(0,0,0,0);
}
.certificate a:hover:before {
	margin: -0.2rem -1rem;
	opacity: 1;
}
@media screen and (min-width: 360px) {
	.certificate img {
		max-height: 17rem;
	}
}
@media screen and (min-width: 480px) {
	.certificate img {
		max-height: 20rem;
	}
}
@media screen and (min-width: 768px) {
	.certificate img {
		max-height: 17rem;
	}
}
@media screen and (min-width: 1280px) {
	.certificate img {
		max-height: 23rem;
	}
}
/* certifications end */
/* profiles start */
.profiles {
	display: -webkit-box;
	display: flex;
	-webkit-box-pack: stretch;
	        justify-content: stretch;
	-webkit-box-align: stretch;
	        align-items: stretch;
	background-color: #253031;
}
.p-card {
	-webkit-box-flex: 1;
	        flex: 1 0 auto;
	display: -webkit-box;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	        flex-direction: column;
	-webkit-box-pack: end;
	        justify-content: flex-end;
	-webkit-box-align: center;
	        align-items: center;
}
.p-card img {
	max-width: 6rem;
	margin: auto;
}
.p-card a {
	margin: 2rem 0;
	padding: 0.2rem 1rem;
	text-decoration: none;
	transition: all 0.5s ease-in-out;
}
.p-card a:before {
	position: absolute;
	content: "Profile";
	border-left: 0.3rem solid #111;
	margin: -0.2rem -1.2rem;
	padding: 0.2rem 1rem;
	opacity: 0;
	transition: all 0.5s ease-in-out;
	color: rgba(0,0,0,0);
}
.p-card a:hover:before {
	margin: -0.2rem -1rem;
	opacity: 1;
}
.c-fcc {
	background-color: #006400;
}
.c-fcc a {
	background-color: #FEFEFE;
	color: #006400;
}
.c-cw {
	background-color: #222222;
}
.c-cw a {
	background-color: #A22D21;
	color: #222222;
}
.c-cg {
	background-color: #20252A;
}
.c-cg a {
	background-color: #F7CC01;
	color: #20252A;
}
/* profiles end */
/* CARDS end */

/* about start */
.about {
	/*background-image: url("./img/about-bg.png");
	background-size: cover;
	background-position: center;
	color: white;*/
	padding: 0 0.5rem;
}
.about > div {
	padding: 0.5rem;
	text-indent: 1rem;
}
.about > div > *:not(:last-child) {
	margin: 0px auto 1rem auto;
}
.about > div > h2 {
	text-align: center;
	-webkit-animation: 18s emp infinite;
	        animation: 18s emp infinite;
}
@-webkit-keyframes emp {
	0% {
		-webkit-transform: scale(1,1);
		        transform: scale(1,1);
	}
	2% {
		-webkit-transform: scale(0.98,0.98);
		        transform: scale(0.98,0.98);
	}
	10% {
		-webkit-transform: scale(1.05,1.05);
		        transform: scale(1.05,1.05);
	}
	11% {
		-webkit-transform: scale(1,1);
		        transform: scale(1,1);
	}
	100% {
		-webkit-transform: scale(1,1);
		        transform: scale(1,1);
	}
}
@keyframes emp {
	0% {
		-webkit-transform: scale(1,1);
		        transform: scale(1,1);
	}
	2% {
		-webkit-transform: scale(0.98,0.98);
		        transform: scale(0.98,0.98);
	}
	10% {
		-webkit-transform: scale(1.05,1.05);
		        transform: scale(1.05,1.05);
	}
	11% {
		-webkit-transform: scale(1,1);
		        transform: scale(1,1);
	}
	100% {
		-webkit-transform: scale(1,1);
		        transform: scale(1,1);
	}
}
/* about end */

/* skills start */
.skills {
	padding: 0 0.5rem;
}
.skillset {
	display: -webkit-box;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	        flex-direction: column;
	-webkit-box-pack: center;
	        justify-content: center;
	padding: 0 1rem;
}
.skillset > h2 {
	margin-top: 0.5rem;
}
.skillset > ul {
	display: -webkit-box;
	display: flex;
	flex-wrap: wrap;
	-webkit-box-pack: start;
	        justify-content: flex-start;
	padding: 0;
	margin: 0;
	list-style: none;
}
.skillset > ul > li {
	min-width: 7rem;
	padding: 0 0.6rem;
	transition: all 0.5s;
}
.skillset > ul > li:hover {
	background-color: #87BCDE;
}
.legend {
	font-size: 0.8rem;
	margin-right: 2rem;
	text-align: right;
}
.note {
	font-size: 0.8rem;
	text-align: center;
}
.stack::first-letter {
	font-weight: 600;
	color: #133d73;
}
.stack {
	color: #3d4a7b;
}
/* skills end */

/* join start */
.join {
	display: -webkit-box;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	        flex-direction: column;
	-webkit-box-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	        align-items: center;
	padding: 2rem 1.6rem;
	color: #596880;
	line-height: 2rem;
}
.join h2 {
	color: #133d73;
}
.join h1 {
	color: #001064;
}
.join > * {
	max-width: 60rem;
}
@media screen and (min-width: 769px) {
	.join > * > div {
		padding: 0 2rem;
	}
}
/*@media screen and (min-width: 1024px) {
	.join {
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		    -ms-flex-direction: row;
		        flex-direction: row;
	}
	.skills {
		border-left: 1px solid #133d73;
		padding: 0 2rem;
	}
	.about {
		padding: 0 1.5rem;
	}
}*/
/* join end */

/* contacts start */
.contacts {
	padding: 1rem 0;
	text-align: center;
	background-color: #253031;
	color: #87BCDE;
}
.contacts > p {
	margin: 0.5rem auto;
}
.contacts > div {
	display: -webkit-box;
	display: flex;
	-webkit-box-pack: center;
	        justify-content: center;
	flex-wrap: wrap;
	margin-top: 0.5rem;
}
.contacts > div > * {
	min-width: 7rem;
}
.contacts a {
	padding: 0.5rem;
	margin: 0.2rem;
	border: 1px solid #87BCDE;
	border-radius: 5px;
	color: #87BCDE;
	text-decoration: none;
	box-shadow: 0px 2px 2px rgba(0,0,0,0.8);
	transition: all 0.25s ease-in-out;
}
.contacts a:visited {
	color: #87BCDE;
}
.contacts a:hover {
	-webkit-transform: scale(1.05, 1.05);
	        transform: scale(1.05, 1.05);
	background-color: #87BCDE;
	color: #253031;
}
.contacts a.wiggle {
	display: inline-block;
	-webkit-animation: 6s linear wiggle infinite;
	        animation: 6s linear wiggle infinite;
}
@-webkit-keyframes wiggle {
	0% {
		-webkit-transform: rotate(0deg);
		        transform: rotate(0deg);
	}
	3% {
		-webkit-transform: rotate(-2deg);
		        transform: rotate(-2deg);
	}
	6% {
		-webkit-transform: rotate(2deg);
		        transform: rotate(2deg);
	}
	9% {
		-webkit-transform: rotate(-1deg);
		        transform: rotate(-1deg);
	}
	12% {
		-webkit-transform: rotate(1deg);
		        transform: rotate(1deg);
	}
	15% {
		-webkit-transform: rotate(0deg);
		        transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(0deg);
		        transform: rotate(0deg);
	}
}
@keyframes wiggle {
	0% {
		-webkit-transform: rotate(0deg);
		        transform: rotate(0deg);
	}
	3% {
		-webkit-transform: rotate(-2deg);
		        transform: rotate(-2deg);
	}
	6% {
		-webkit-transform: rotate(2deg);
		        transform: rotate(2deg);
	}
	9% {
		-webkit-transform: rotate(-1deg);
		        transform: rotate(-1deg);
	}
	12% {
		-webkit-transform: rotate(1deg);
		        transform: rotate(1deg);
	}
	15% {
		-webkit-transform: rotate(0deg);
		        transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(0deg);
		        transform: rotate(0deg);
	}
}
footer {
	display: block;
	margin: 0.5rem auto;
	font-size: 0.8rem;
	color: rgba(155,155,155,1);
}
/* contacts end */


/* additional stuff for landscape */
@media screen and (orientation: landscape) {
	.projects {
		display: -webkit-box;
		display: flex;
		-webkit-box-align: center;
		        align-items: center;
		min-height: 100vh;
	}
}
/* landscape end */